@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: 'Anek Telugu', sans-serif;
  background-color: #202020;
  color: white;
}

.input-text {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(147, 255, 172);
  width: 100%;
}

.coin-search {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #111111e1;
  padding: 10px;
  align-items: center;
  width: 100%;

}

.input-form {
  display: flex;
  align-items: center;
}

.icon {
  border: none;
  width: 50px;
  height: 45px;
  outline: none;
  color: white;
  background-color: #303030;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 25px;
  width: 320px;
  height: 45px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  background-image: linear-gradient(-225deg, rgb(120, 255, 120), rgb(0, 74, 0));
  color: rgb(1, 59, 23);
  font-size: 18px;
  border: none;
  outline: none;
}

.coin-input::placeholder {
  color: rgb(0, 0, 0);
}

.nav-ttete {
  top: 0%;
  right: 0%;
  position: sticky;
  width: 100%;
}

.table-coin {
  width: 70vw;
  margin: 0 22%;
  display: flex;
}

.table-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15vw;
}

.name {
  width: 10%;
}

.price {
  width: 10%;
}

.volume {
  width: 10%;
}

.porcentage {
  width: 10%;
}

@media screen and (max-width: 425px) {

  .TrackingAction {
    max-width: 100%;
  }

  .input-text {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 100px;
  }

  .coin-input {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: 0;

  }

  .coin-search {
    width: 100%;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

}