.coin-container {
  display: flex;
  gap: 5vw;
  margin: 0 10%;
  width: 80vw;
  border-bottom: 1px solid white;
  align-items: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
  transition: 0.5s;
}

.coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
  width: 100%;
}

.coin img {
  width: 10%;
}

.coin {
  width: 80vw;
  height: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.name {
  width: 10%;
}

.coin-symbol {
  width: 10%;
}

.coin-price {
  width: 10%;
}

.coin-volume {
  width: 10%;
}

.coin-percent {
  width: 10%;
}


.coin-row:hover {
  color: rgb(120, 255, 120);
}

.image-coin {
  overflow: hidden;
  transition-duration: 0.7s;
  transition-property: transform;
}

.image-coin:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.red {
  color: red;
}

.green {
  color: rgb(5, 255, 5);
}